[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
fontawesome-markdown = "*"
twine = "*"
wheel = "*"
pipenv = "*"
mypy = "*"
"flake8" = "*"
python-language-server = "*"
pudb = "*"
pytest-pudb = "*"

[packages]
requests = "*"
docopt = "*"
schema = "*"
xmltodict = "*"
PyYAML = "*"
fn = "*"
"boto3" = "*"
deepdiff = "*"
freezegun = "*"
pydash = "*"
requests-toolbelt = "*"
"jinja2" = "*"
owlmixin = ">=2.4.0"

[requires]
python_version = "3.6"
