[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pymdown-extensions = "*"
fontawesome-markdown = "*"
twine = "*"
wheel = "*"
pipenv = "*"
mypy = "*"
"flake8" = "*"
python-language-server = "*"
pudb = "*"
pytest-pudb = "*"
mkdocs = "==0.17.2"
mkdocs-material = "==2.6.6"

[packages]
requests = "*"
docopt = "*"
schema = "*"
xmltodict = "*"
PyYAML = "*"
fn = "*"
"boto3" = "*"
deepdiff = "*"
freezegun = "*"
pydash = "*"
requests-toolbelt = "*"
"jinja2" = "*"
"beautifulsoup4" = "*"
lxml = "*"
owlmixin = ">=2.7.0"
livereload = "*"

[requires]
python_version = "3.6"
