[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pytest = "*"
pytest-cov = "*"
mkdocs = "==0.16.3"
mkdocs-material = "*"
pymdown-extensions = "*"
fontawesome-markdown = "*"


[packages]

requests = "*"
docopt = "*"
schema = "*"
xmltodict = "*"
PyYAML = "*"
owlmixin = "==2.0.0a12"
fn = "*"
"boto3" = "*"
deepdiff = "*"
freezegun = "*"


[requires]

python_version = "3.6"
