title: xml

one:
  name: One endpoint
  host: http://localhost:8000/api/one

other:
  name: Other endpoint
  host: http://localhost:8000/api/other

output:
  response_dir: responses

addons:
  log2reqs:
    name: plain
    config:
      encoding: utf8

  res2dict:
    - name: xml

  store_criterion:
    - name: general
      config:
        statuses:
          - different

  did_challenge:
    - name: sleep
      config:
        min: 0.5
        max: 0.5

  dump:
    - name: xml

  # final:
  #   - name: miroir
  #     config:
  #       table: miroir
  #       bucket: mamansoft-miroir
  #       cache_max_age: 120

