name: "Tests"

on:
  push:
    paths:
      - ".github/**/*"
      - "jumeaux/*"
      - "jumeaux/**/*"
      - "tests/*"
      - "tests/**/*"
      - "pyproject.toml"
      - "poetry.lock"
      - "test.bats"
      - "Makefile"
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.6", "3.7", "3.8"]
    name: Python ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry --pre
          poetry install

      - run: make test
      - uses: codecov/codecov-action@v1
        if: matrix.python == 3.8 && matrix.os == 'ubuntu-latest' && success()

      - name: CLI tests
        run: |
          sudo npm install -g bats
          sudo chmod +rx $HOME/.config -R
          make test-cli

      - name: "Slack notification (not success)"
        uses: homoluctus/slatify@master
        if: "! success()"
        with:
          type: ${{ job.status }}
          username: GitHub Actions (Failure)
          job_name: ":jumeaux: :python:*${{ matrix.python }}* Tests"
          mention: channel
          mention_if: always
          icon_emoji: "github"
          url: ${{ secrets.SLACK_WEBHOOK }}

  notify:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: "Slack Notification (success)"
        uses: homoluctus/slatify@master
        if: always()
        with:
          type: ${{ job.status }}
          username: GitHub Actions (Success)
          job_name: ":jumeaux: All tests  `OS` :ubuntu:  `Versions` :python: 3.6/3.7/3.8"
          icon_emoji: ":github:"
          url: ${{ secrets.SLACK_WEBHOOK }}
